


.logo {
    height: 90%;
}

.t-nav {
    display: table;
    }
    
.t-item {
    list-style: none;
    display: table-cell;
    }

.link-standard {
    font-weight: bold;
    color: white;
    font-size: 8px;
}

.link-standard:hover {
    color: #73BCE1;
}
.block-0 {
    border: 10px solid #309DD4;
    height: 100%
}
.block-1 {
    background-color: #235D7A;
    height: 10%;
}

.block-2 {
    background-color: #15435A;
    height: 90%;
}

.block-3 {
    height: 100%;
    background-color: white;
}

.block-4 {
    display: block;
    margin: 0 auto;
}


.block-5 {
    height: 30%;
    background-color: white;
}

.block-6 {
    height: 10%;
    
}

.block-7 {
    height: 100%;
    
}
.block-8 {
    height: 40%;
    
}
.phone {
    display: none;
    width: 70%;
    vertical-align: bottom;
}


h1 {
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    /* margin-left: 5%; */
}



h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: justify;
    /* margin-left: 5%; */
}



.text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: justify;
    /* margin-left: 5%; */
    padding-bottom: 10px;
}




.t {
    padding-left: 300px;
    padding-right: 80px;
}


.btn-1 {
    color: white;
    border-color: white;
    border-radius: 25px;
    width: 100px;
    height: 25px;
    font-size: 7px;
    font-weight: bold;
    margin: 1%;
}





.btn-2 {
    background-color: #406895;
    border-radius: 0px;
    width: 200px;
    height: 80px;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    border: none;
    margin-top: -172px;

}
.pages {
    color: #B6B4B4;
    margin-top: 1%;
    font-size: 10px;
}

.text-2 {
    color: #15435A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.circle{
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background-color: white;
    border-color: #504F4F;
    border-width: 1px;
}

.circle:hover{
    color: #309DD4;
    border-color: white;
}

.features{
    font-size: 20px;
    font-weight: bold;
}

.text-features{
    color:#504F4F; 
    text-align: center;
}

.text-3{
    max-width:300px;
}

.image {
    display: flex;
}

/*and (max-height: 400px)*/
@media (max-width : 400px)  {

    .logo {
        height: 50%;
    }
    
    h1 {
        font-size: 15px;
    }

    h2 {
        font-size: 15px;
    }

    .text{
        font-size: 5px;
    }

    .btn-1 {
        width: 80px;
        height: 20px;
        font-size: 8px;
        padding: 0;
    }

    .pages {
        margin: 1px;
        font-size: 6px;
    }

    .phone {
        display: none!important;
    }

    .image {
        display: none!important;
    }
    
    .link-standard {
       font-size: 5px;
    }
    
    .block-1 {
        height: 10%;
    }
}












@media (min-width : 600px) and (min-height: 400px) {
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    .text{
        font-size: 10px;
    }

    .btn-1 {
        width: 150px;
        height: 40px;
        font-size: 12px;
    }

    .pages {
        font-size: 10px;
    }

    .phone {
        width: 70%;
        display: flex;
    }

    .image {
        display: flex;
    }
    
    .link-standard {
       font-size: 10px;
    }
    
    .block-1 {
        height: 10%;
    }
}

/* and (min-height: 900px) */
@media (min-width : 900px){
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 20px;
    }

    .text{
        font-size: 16px;
    }

    .btn-1 {
        width: 250px;
        height: 55px;
        font-size: 15px;
    }

    .pages {
        font-size: 16px;
    }

    .phone {
        width: 70%;
        display: flex;
    }

    .image {
        display: flex;
    }
    .link-standard {
        font-size: 19px;
     }
}


.mobile-solid.icon {
    color: #000;
    position: absolute;
    margin-left: 4px;
    margin-top: 0px;
    width: 12px;
    height: 14px;
    border-radius: 2px;
    border-left: solid 1px currentColor;
    border-right: solid 1px currentColor;
    border-top: solid 3px currentColor;
    border-bottom: solid 4px currentColor;
  }
  .moon-solid.icon:before {
    content: '';
    position: absolute;
    left: 8px;
    top: 3px;
    width: 8px;
    height: 10px;
    color: #fff;
    background-color: currentColor;
    border-radius: 5px 0 0 5px;
  }
  .mobile-solid.icon:after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 5px;
    height: 2px;
    width: 2px;
    border-radius: 50%;
    color: white;
    background-color: currentColor;
  }